# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# 虚拟环境
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# 项目特定
金庸小说全集/
*.html
*.npy
*.pkl
*.model
*.model.trainables.syn1neg.npy
*.model.wv.vectors.npy 